 body,html {
            margin: 0; /* Remove default body margin */
            padding: 0; /* Remove default body padding */
      overflow-x: hidden;
        }

.list {
    margin-left: 10%;
   
}

.home {
    color: darkgrey;
    padding-right: 20px;
    font-size: 15px;
}

.home:hover {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

.logo {
    margin-left: 2%;
}

.heading {
    margin-top: 1.5%;
    padding-bottom: 1%
}

.request {
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
    color: white;
    
    
}

.invite{
     border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
    color: white;
    
}

.button {
    padding-left:20%;
    display: inline-flex;
}





.generation {
    width: 40%;
    font-weight: 400;
}

.finance {
    width: 40%;
    color: grey;
}

.digital {
    margin-top: 5%;
    margin-left: 7%;
}

.bground {
    background-color: #f4f4f4;
    padding-bottom: 7%;
    padding-top: 7% ;
}





.desktop {
    position: absolute;
    margin-top: -18%;
    margin-left: 42%;
    overflow: hidden;
    width: 65%;
}



.hd {
    background-color: white;
    z-index: 1;
    position:fixed;
    width: 100%;

}



.bodyy {
    background-color: white;
}

.mockups {
    position: absolute;
    width: 40%;
    margin-left: 60%;
    margin-top: -10%;
    
       
}


.choose {
    font-weight: 400;
    margin-bottom: 2%;
}

.open {
    width: 50%;
    color: grey;
}

.Easybank {
    background-color: #e0e0e0;
    padding-top: 5%;
    padding-bottom: 4%;
}

.modern {
    width: 99%;
    color:grey;
        
}

.money {
    width: 91%;
}



.manage {
    width:100%;
    color: grey;
}

.online {
    margin-top: 10%;
    margin-bottom: 8%;
}

.latest {
    font-weight: 400;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 4%;
}

.section {
    background-color:  #f4f4f4;
}

.currency {
    background-color: white;
    padding-bottom: 3%;
    
    
}

.receive {
font-size: 20px;
    margin-left: 5%;
}





.desk {
    background-image: url(bg-intro-desktop.svg);
    background-position: ;
    
}
